

body {
  background-color: black;
  font-family: Arial;
  color: white;
}

h1 {
  color: grey;
  font-family: Verdana;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin: 20px auto;
}


.principal {
  margin-right: 35px;
}

.years {
  margin-right: 10px;
}

.highlight {
  background-color: yellow;
}

.inputs {
  margin: auto 30px;
}

footer {
  margin-top: 5px;
}